<h1>Trips Dashboard</h1>

<p>Average Ride Duration: <%= (@ride_durations[1] / 60.to_f).to_i %> minutes</p>
<p>Longest Ride Duration: <%= (@ride_durations[0] / 60.to_f).to_i %> minutes</p>
<p>Shortest Ride Duration: <%= (@ride_durations[2] / 60.to_f).to_i %> minutes</p>
