<h1>Stations Dashboard</h1>

<p>Total Station Count: <%= @stations_count %></p>

<p>Average Bikes Per Station: <%= @average_bikes_per_station %></p>
<p>Most Bikes Per Station: <%= @most_bikes_per_station %></p>
